@tailwind base;
@tailwind components;
@tailwind utilities;

.mockup-browser-toolbar {
    margin: 0px !important;
}


#inputResizeWidth {
    width: 5rem;
    background-color: #eeeeee;
}

#inputResizeHeight {
    width: 5rem;
    background-color: #eeeeee;
}

#goButton > img{
    width: 16px;
    height: 16px;
}

#editButton > img{
    width: 16px;
    height: 16px;
}

#resizeButton > img{
    width: 16px;
    height: 16px;
}